{% extends 'navbar.html' %}

{% block title %}Articles{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article Tiles</title>
  </head>
  <body>
    <main>
       
    <br>
      <section id="articles">
        <article class="article-tile">
          <h2 class="article-title">Food Sustainabilty I</h2>
          <p class="article-excerpt"><a href="https://www.example.com" target="_blank">Read the article!</a> 5 points</p>
        </article>
        <article class="article-tile">
          <h2 class="article-title">Food Sustainabilty II</h2>
          <p class="article-excerpt"><a href="https://www.example.com" target="_blank">Read the article!</a> 5 points</p>
        </article>
        <article class="article-tile">
          <h2 class="article-title">Food Sustainabilty III</h2>
          <p class="article-excerpt"><a href="https://www.example.com" target="_blank">Read the article!</a> 5 points</p>
        </article>
        <article class="article-tile">
            <h2 class="article-title">Food Sustainabilty Quiz</h2>
            <p class="article-excerpt"><a href="https://www.example.com" target="_blank">Do the quiz!</a> 20 points</p>
          </article>
      </section>
    </main>
  </body>
</html>
  
  {% endblock %}
