<!-- templates/home.html -->
{% extends 'navbar.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              {% if user.is_authenticated %}
              Hi {{ user.username }}!
              <p><a href="{% url 'logout' %}" class="button">Log Out</a></p>
              {% else %}
              <p>You are not logged in</p>
              <a href="{% url 'login' %}" class="button primary">Log In</a>
              <a href="{% url 'signup' %}" class="button secondary">Sign Up</a>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <style>
    body {
      background-color: #455145;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    .card {
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      background-color: #fff;
    }

    .card-body {
      padding: 20px;
      text-align: center;
    }

    .button {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 15px;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .primary {
      background-color: #00C896;
      color: #fff;
      border: none;
    }

    .primary:hover {
      background-color: #0069d9;
    }

    .secondary {
      background-color: #6c757d;
      color: #fff;
      border: none;
    }

    .secondary:hover {
      background-color: #5a6268;
    }
  </style>
{% endblock %}